*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



html{

    background-color:grey;
    padding: 3px
}

 @import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap'); 

 body {

    font-family: Georgia, 'Times New Roman', Times, serif; /*fuente segura*/
 }

/*estilo header superior*/

.contenedor{
        height: 100px;
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-image: linear-gradient(white, blue);
       
}

.caja1{
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}


#icono-ap{
    
 width: 100%;
    
}





.caja2{

    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.caja2 p{
    font-family: 'Rubik Vinyl', cursive;
    color: blanchedalmond;
}





    
.caja3{
   
    display: flex;
    justify-content: end;
    align-items: flex-end;
}


#img1{

    height: 35px;
    margin-right: 20px;
    margin-bottom: 10px;
    
}

.icono-github{
   
    height: 100%;

    
}


.icono-github:hover{

    transform:scale(1.3) ;
    
}

#img2{
    height: 35px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.icono-ig{

    height: 100%;
}

.icono-ig:hover{

    transform:scale(1.3) ;
    
}



/*estilo header inferior*/
.banner{
    height:200px;
    overflow: hidden;
    border-top: 3px solid yellow;
}